<%- model_class = Restaurant -%>
<div class="page-header container">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
 <%= render :partial => 'form' %>
</div> 